
<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="modal-title">Import Template(s)</div>
            <div class="text-muted">Template(s) can be *.json, *.yml, or *.yaml</div>

            <div class="mt-3">
                <div class="form-label">Choose file(s):</div>
                <form method="post" action="/upload" enctype="multipart/form-data" id="upload">
                    <input type="file" name="files" multiple />
                </form>
            </div>

        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="upload">Upload</button>
        </div>
    </div>
</div>
