<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollables">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">PermissionsTitle Permissions</h5>
    </div>
    <div class="modal-body">
        
            <div class="accordion" id="modal-accordion">
                PermissionsList
            </div>

    </div>
    <div class="modal-footer">
        <div class="row">
        
        <div class="col">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" disabled="">Reset</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
        </div>
        </div>
        </div>
    </div>
</div>