<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollables">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">AppName Permissions</h5>
        </div>
        <div class="modal-body">
            <form action="" id="permissions_modal" method="POST">
                <div class="accordion" id="modal-accordion">
                    PermissionsList
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
            
            <div class="col">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" disabled="">Reset</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
            </div>
            </div>
        </div>
    </div>
</div>