
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v2m0 4v.01"></path><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path></svg>
            <h3>Remove AppName?</h3>
            <form action="/uninstall" id="AppName_uninstall" method="POST">
            <input type="text" class="form-control" name="service_name" value="AppName" hidden/>
            <div class="mb-3"> </div>
            
            <div class="mb-2">
                <div class="divide-y">
                <div class="row">
                    <div class="col-9">
                    <label class="row text-start">
                        <span class="col">Remove Volumes</span>
                    </label>
                    </div>
                    <div class="col-3">
                    <label class="form-check form-check-single form-switch text-end">
                        <input class="form-check-input" type="checkbox" name="remove_volumes" disabled="">
                    </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                    <label class="row text-start">
                        <span class="col">
                        Remove Image
                        </span>
                    </label>
                    </div>
                    <div class="col-3">
                    <label class="form-check form-check-single form-switch text-end">
                        <input class="form-check-input" type="checkbox" name="remove_image" disabled="">
                    </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                    <label class="row text-start">
                        <span class="col">
                        Remove Backups
                        </span>
                    </label>
                    </div>
                    <div class="col-3">
                    <label class="form-check form-check-single form-switch text-end">
                        <input class="form-check-input" type="checkbox" name="remove_backups" disabled="">
                    </label>
                    </div>
                </div>
                </div>
            </div>
            <div class="mt-1"> </div>
            <div class="text-muted">Enter "Yes" below to remove the container.</div>
            <input type="text" class="form-control mb-2" name="confirm" autocomplete="off">
            </form>
            </div>
            <div class="modal-footer">
            <div class="w-100">
                <div class="row">
                <div class="col">
                    <a href="#" class="btn w-100" data-bs-dismiss="modal">
                    Cancel
                    </a>
                </div>
                <div class="col">
                    <input type="submit" form="AppName_uninstall" class="btn btn-danger w-100" value="Uninstall"/>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
