<div class="col-md-6 col-lg-3">
  <div class="card">
    <div class="card-body py-2">
      <div class="row">
        
        <h1 class="m-0 p-0">AppTitle</h1>
        
        <div class="col-auto p-0">
          <span class="avatar avatar-xl mt-1" style="background-image: url(AppIcon)"></span>
        </div>
        <div class="col">
          <div class="card-subtitle description m-1">AppDescription</div>
        </div>

        <div class="py-1 mb-1">
          <div class="row align-items-center">
            <div class="col-auto m-0 p-0">
              AppCategories
            </div>
          </div>
        </div>

        <div class="px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <a href="#" class="btn" name="AppName" id="AppType" hx-post="/apps/info" hx-swap="innerHTML" data-hx-trigger="mousedown" hx-target="#wide_modal_content" data-bs-toggle="modal" data-bs-target="#wide_modal">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-article mx-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path> <path d="M7 8h10"></path> <path d="M7 12h10"></path> <path d="M7 16h10"></path></svg>
                  More Info
              </a>
            </div>
            <div class="col-auto ms-auto">
              <a href="" class="btn" name="AppName" id="AppType" hx-post="/apps/view_install" hx-swap="innerHTML" data-hx-trigger="mousedown" hx-target="#wide_modal_content" data-bs-toggle="modal" data-bs-target="#wide_modal">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-down mx-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M4 20l16 0"></path> <path d="M12 14l0 -10"></path> <path d="M12 14l4 -4"></path> <path d="M12 14l-4 -4"></path></svg>
                 Install  
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>