
        <div class="modal-content" id="modal_content">

            <form action="/dashboard/action/update_link/ContainerID" method="post">

                <input type="hidden" name="service_id" value="ContainerID">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                <div class="modal-body text-center py-3">
                    <h3 class="mb-3">AppName Link</h3>
                    <div class="text-muted mb-2">URL needs to start with http:// or https://</div>
                    <input type="text" class="form-control mb-2" name="url" value="AppLink">
                </div>

                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn w-100" data-bs-dismiss="modal">
                                Cancel
                                </a>
                            </div>
                            <div class="col">
                                <input type="submit" value="Update" class="btn btn-primary w-100">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>