
        <div class="accordion-user mb-3">
          <h2 class="accordion-header" id="heading-Entry">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-Entry" aria-expanded="false">
              <span class="avatar avatar-sm bg-green-lt col-3 text-start">JD</span>
              <div class="col text-end" style="margin-right: 10px;">Username</div>
            </button>
          </h2>
          <div id="collapse-Entry" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
            <div class="accordion-body pt-0">

              <form id="updatePermissionsEntry">
                <div class="col">

                    <input type="hidden" name="containerName" value="container_name">
                    <input type="hidden" name="containerID" value="container_id">
                    <input type="hidden" name="userID" value="user_id">
                    <input type="hidden" name="username" value="Username">
                    <input type="hidden" name="select" value="selectEntry">

                    <div class="row mb-3">
                        <div class="col-9">
                            <label class="row text-start">
                                <span class="col">
                                    All
                                </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-single form-switch text-end">
                                <input class="form-check-input" type="checkbox" name="selectEntry" onclick="selectAll('selectEntry')" data-AllCheck>
                            </label>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-9">
                            <label class="row text-start">
                                <span class="col">
                                Uninstall
                                </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-single form-switch text-end">
                                <input class="form-check-input" type="checkbox" name="selectEntry" value="uninstall" data-UninstallCheck>
                            </label>
                        </div>
                    </div>


                    <div class="row mb-2">
                        <div class="col-9">
                            <label class="row text-start">
                                <span class="col">
                                Edit
                                </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-single form-switch text-end">
                                <input class="form-check-input" type="checkbox" name="selectEntry" value="edit" data-EditCheck>
                            </label>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-9">
                            <label class="row text-start">
                                <span class="col">
                                Upgrade
                                </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-single form-switch text-end">
                                <input class="form-check-input" type="checkbox" name="selectEntry" value="upgrade" data-UpgradeCheck>
                            </label>
                        </div>
                    </div>
    
                    <div class="row mb-2">
                        <div class="col-9">
                            <label class="row text-start">
                                <span class="col">
                                Start
                                </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-single form-switch text-end">
                                <input class="form-check-input" type="checkbox" name="selectEntry" value="start" data-StartCheck>
                            </label>
                        </div>
                    </div>
        
                    <div class="row mb-2">
                        <div class="col-9">
                            <label class="row text-start">
                                <span class="col">
                                Stop
                                </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-single form-switch text-end">
                                <input class="form-check-input" type="checkbox" name="selectEntry" value="stop" data-StopCheck>
                            </label>
                        </div>
                    </div>
        
                    <div class="row mb-2">
                        <div class="col-9">
                            <label class="row text-start">
                                <span class="col">
                                Pause
                                </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-single form-switch text-end">
                                <input class="form-check-input" type="checkbox" name="selectEntry" value="pause" data-PauseCheck>
                            </label>
                        </div>
                    </div>
        
                    <div class="row mb-2">
                        <div class="col-9">
                        <label class="row text-start">
                            <span class="col">
                            Restart
                            </span>
                        </label>
                        </div>
                        <div class="col-3">
                        <label class="form-check form-check-single form-switch text-end">
                            <input class="form-check-input" type="checkbox" name="selectEntry" value="restart" data-RestartCheck>
                        </label>
                        </div>
                    </div>
        
        
                    <div class="row mb-2">
                        <div class="col-9">
                        <label class="row text-start">
                            <span class="col">
                            Logs
                            </span>
                        </label>
                        </div>
                        <div class="col-3">
                        <label class="form-check form-check-single form-switch text-end">
                            <input class="form-check-input" type="checkbox" name="selectEntry" value="logs" data-LogsCheck>
                        </label>
                        </div>
                    </div>
        
        
                    <div class="row mb-4">
                        <div class="col-9">
                        <label class="row text-start">
                            <span class="col">
                            View
                            </span>
                        </label>
                        </div>
                        <div class="col-3">
                        <label class="form-check form-check-single form-switch text-end">
                            <input class="form-check-input" type="checkbox" name="selectEntry" value="view" data-ViewCheck>
                        </label>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <button class="btn" type="button" id="submit" hx-post="/update_permissions" hx-swap="outerHTML">Update&nbsp;&nbsp;</button>
                    </div>

                </div>
              </form>

            </div>
          </div>
        </div>
