<div class="col d-flex flex-column">
	<form id="settings">
	<div class="card-body">
		<h2 class="mb-4">Settings</h2>

			
		
				<h3 class="mt-5">Container Links</h3>
				<label class="text-muted mb-2">Choose the default behaviour for container links. Enter IP address or Domain before enabling.</label>
				<div class="row align-items-center">
					<div class="col-auto">
						<label class="form-check form-switch form-switch-lg">
							<input class="form-check-input" type="checkbox" name="link_mode" data-LinkMode>
							<span class="form-check-label form-check-label-on text-warning">
								Custom
							</span>
							<span class="form-check-label form-check-label-off text-success">
								Localhost
							</span>
						</label>
					</div>
					<div class="col-5">
						<input type="text" class="form-control" name="link" placeholder="IP Address or Domain" data-LinkValue>
					</div>
				</div>

				<h3 class="mt-5">User Registration</h3>
				<label class="text-muted mb-2">Allow other users to register.</label>
				<div class="row align-items-center">
					<div class="col-auto">
						<label class="form-check form-switch form-switch-lg">
							<input class="form-check-input" type="checkbox" name="user_registration" data-UserReg>
							<span class="form-check-label form-check-label-on text-success">
								Enabled
							</span>
							<span class="form-check-label form-check-label-off text-danger">
								Disabled
							</span>
						</label>
					</div>
					<div class="col-5">
						<input type="text" class="form-control" name="passphrase" placeholder="multiple-words-strong-passphrase" data-Passphrase>
					</div>
				</div>


				<h3 class="mt-5">Remote Hosts</h3>
				<label class="text-muted mb-2">Host #2</label>
				<div class="row align-items-center">
					<div class="col-auto">
						<label class="form-check form-switch form-switch-lg">
							<input class="form-check-input" type="checkbox" name="host2" data-Host2>
							<span class="form-check-label form-check-label-on text-success">
								Enabled
							</span>
							<span class="form-check-label form-check-label-off text-danger">
								Disabled
							</span>
						</label>
					</div>
					<div class="col-2">
						<input type="text" class="form-control" name="tag2" placeholder="Tag" data-Tag2>
					</div>
					<div class="col-4">
						<input type="text" class="form-control" name="ip2" placeholder="Host IP" data-Ip2>
					</div>
					<div class="col-2">
						<input type="text" class="form-control" name="port2" placeholder="PORT" data-Port2>
					</div>
				</div>
				
				<label class="text-muted mb-2">Host #3</label>
				<div class="row align-items-center">
					<div class="col-auto">
						<label class="form-check form-switch form-switch-lg">
							<input class="form-check-input" type="checkbox" name="host3" data-Host3>
							<span class="form-check-label form-check-label-on text-success">
								Enabled
							</span>
							<span class="form-check-label form-check-label-off text-danger">
								Disabled
							</span>
						</label>
					</div>
					<div class="col-2">
						<input type="text" class="form-control" name="tag3" placeholder="Tag" data-Tag3>
					</div>
					<div class="col-4">
						<input type="text" class="form-control" name="ip3" placeholder="Host IP" data-Ip3>
					</div>
					<div class="col-2">
						<input type="text" class="form-control" name="port3" placeholder="PORT" data-Port3>
					</div>
				</div>

				<label class="text-muted mb-2">Host #4</label>
				<div class="row align-items-center">
					<div class="col-auto">
						<label class="form-check form-switch form-switch-lg">
							<input class="form-check-input" type="checkbox" name="host4" data-Host4>
							<span class="form-check-label form-check-label-on text-success">
								Enabled
							</span>
							<span class="form-check-label form-check-label-off text-danger">
								Disabled
							</span>
						</label>
					</div>
					<div class="col-2">
						<input type="text" class="form-control" name="tag4" placeholder="Tag" data-Tag4>
					</div>
					<div class="col-4">
						<input type="text" class="form-control" name="ip4" placeholder="Host IP" data-Ip4>
					</div>
					<div class="col-2">
						<input type="text" class="form-control" name="port4" placeholder="PORT" data-Port4>
					</div>
				</div>

				


		
	</div>


	<div class="card-footer bg-transparent mt-auto">
		<div class="btn-list justify-content-end">
			<a href="#" class="btn">
				Cancel
			</a>
			<button class="btn btn-primary" id="submit" hx-trigger="click" hx-post="/settings" hx-swap="outerHTML" hx-target="#submit">
				Update
			</button>
		</div>
	</div>
	</form>

</div>