<tr>
  <td><input class="form-check-input" type="checkbox"></td>
  <td>1</td>
  <td><span class="avatar me-2" style="background-image: url(./static/avatars/burns.jpg)"></span></td>
  <td>John Doe</td>
  <td>JDoe</td>
  <td>JDoe@gmail.com</td>
  <td>685468468465138</td>
  <td>Admin</td>
  <td><span class="badge badge-outline text-green">Active</span></td>
  <td><a href="#" class="btn">Edit</a></td>
</tr>