<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>DweebUI - Apps</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css" rel="stylesheet"/>
    <link href="/css/demo.min.css" rel="stylesheet"/>
    <script src="/js/htmx.min.js"></script>
    <style>
			@import url('/fonts/inter.css');
			:root {
			  --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
			}
			body {
			  font-feature-settings: "cv03", "cv04", "cv11";
			}
		  </style>
  </head>
  <body >
    <div class="page">
      <!-- Navbar -->

      <%- include('partials/navbar.html') %>

      <div class="page-wrapper">
        <!-- Page header -->
        <div class="mt-3 d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <label class="text-secondary"><%= list_start %> - <%= list_end %> of <%= app_count %> Apps.</label>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="d-flex align-items-center">
                  <div class="me-2">
                    <select class="form-select">
                      <option>Category:</option>
                      <option>Media</option>
                      <option>Tools</option>
                      <option>Gaming</option>
                      <option>FOSS</option>
                      <option>Database</option>
                    </select>
                  </div>
                  <div class="me-2">
                    <select class="form-select">
                      <option>Templates.json (default)</option>
                      <option>Compose</option>
                    </select>
                  </div>
                  <button class="btn btn-primary h-50" name="Import" id="Import" data-hx-get="/import_modal" data-hx-target="#modals-here" hx-swap="innerHTML" data-hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modals-here">Import</button>
                  <form action="/apps" id="search" name="search" method="POST">
                    <input type="search" class="form-control" name="search" placeholder="Search apps…" >
                  </form>
                  <input type="submit" form="search" class="btn btn-primary h-50" value="Search">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="mt-3">
          <div class="container-xl">
            <div class="row row-cards">

              <%- apps_list %>


            <!-- HTMX Target-->
            <div id="modals-here" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
              <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollables">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">Loading</h5>
                  </div>
                  <div class="modal-body text-center">
                    <div class="spinner-border"></div>
                  </div>
                </div>
              </div>
            </div>
              
            </div>
            <div class="d-flex mt-4">
              <ul class="pagination ms-auto">
                <li class="page-item">
                  <a class="page-link" href="<%- prev %>" tabindex="-1" aria-disabled="true">
                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                    prev
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="/apps/1">1</a></li>
                <li class="page-item"><a class="page-link" href="/apps/2">2</a></li>
                <li class="page-item"><a class="page-link" href="/apps/3">3</a></li>
                <li class="page-item"><a class="page-link" href="/apps/4">4</a></li>
                <li class="page-item"><a class="page-link" href="/apps/5">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="<%- next %>">
                    next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <%- include('partials/footer.html') %>

      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="/js/tabler.min.js" defer></script>
    <script src="/js/demo.min.js" defer></script>
    
    <!-- <script>
      async function sendData(form) {
        const formData = new FormData(form);
        const jsonData = {};

        for (let [key, value] of formData.entries()) {
          jsonData[key] = value;
        }

        try {
          const response = await fetch("/install", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(jsonData),
          });
          console.log(await response.json());
        } catch (e) {
          console.error(e);
        }
      }

      document.addEventListener("submit", (event) => {
        event.preventDefault();

        const buttonId = event.target.id;
        console.log(buttonId);
        const form = document.querySelector(`#${buttonId}`);

        if (form) {
          sendData(form);
        } else {
          console.error(`Form not found for button with ID: ${buttonId}`);
        }
      });
    </script> -->
    
  </body>
</html>