	<!doctype html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>DweebUI - Settings</title>
		<!-- CSS files -->
		<link href="/css/tabler.min.css" rel="stylesheet"/>
		<script src="/js/htmx.min.js"></script>

		<style>
			@import url('/fonts/inter.css');
			:root {
			  --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
			}
			body {
			  font-feature-settings: "cv03", "cv04", "cv11";
			}
		  </style>
	</head>
	<body >
		<div class="page">
			<!-- Navbar -->
			<%- include('partials/navbar.html') %>
			<div class="page-wrapper">
				<!-- Page header -->
				<div class="page-header d-print-none">
					<div class="container-xl">
						<div class="row g-2 align-items-center">
						<div class="col">
							<h2 class="page-title">
							Settings
							</h2>
						</div>
						</div>
					</div>
				</div>
				<!-- Page body -->
				<div class="page-body">
					<div class="container-xl">
						<div class="card">
							<div class="row g-0">
								
								<%- include('partials/sidebar.html') %>
								
								<div class="col d-flex flex-column">
									<div class="card-body">
										<h2 class="mb-4">Settings</h2>
										
										

										<h3 class="mt-5">Container Links</h3>
										<label class="text-muted mb-2">Choose the default behaviour for container links. Enter IP address or Domain before enabling.</label>
										<div class="row align-items-center">
											<div class="col-auto">
												<label class="form-check form-switch form-switch-lg">
													<input class="form-check-input" type="checkbox" id="submit" name="links" hx-trigger="click" hx-post="/settings/links" hx-swap="none" disabled>
													<span class="form-check-label form-check-label-on text-warning">
														Custom
													</span>
													<span class="form-check-label form-check-label-off text-success">
														Localhost
													</span>
												</label>
											</div>
											<div class="col-6">
												<input type="text" class="form-control" name="ip" placeholder="IP Address or Domain">
											</div>
										</div>

										<h3 class="mt-5">User Registration</h3>
										<label class="text-muted mb-2">Allow other users to register.</label>
										<div class="row align-items-center">
											<div class="col-auto">
												<label class="form-check form-switch form-switch-lg">
													<input class="form-check-input" type="checkbox" id="submit" name="registration" hx-trigger="click" hx-post="/settings/registration" hx-swap="none" disabled>
													<span class="form-check-label form-check-label-on text-success">
														Enabled
													</span>
													<span class="form-check-label form-check-label-off text-danger">
														Disabled
													</span>
												</label>
											</div>
											<div class="col-6">
												<input type="text" class="form-control" name="secret" placeholder="Registration Secret">
											</div>
										</div>


										<h3 class="mt-5">Remote Hosts</h3>
										<label class="text-muted mb-2">Host #2</label>
										<div class="row align-items-center">
											<div class="col-auto">
												<label class="form-check form-switch form-switch-lg">
													<input class="form-check-input" type="checkbox" id="submit" name="registration" hx-trigger="click" hx-post="/settings/registration" hx-swap="none" disabled>
													<span class="form-check-label form-check-label-on text-success">
														Enabled
													</span>
													<span class="form-check-label form-check-label-off text-danger">
														Disabled
													</span>
												</label>
											</div>
											<div class="col-2">
												<input type="text" class="form-control" name="secret" placeholder="Tag">
											</div>
											<div class="col-6">
												<input type="text" class="form-control" name="secret" placeholder="Host IP">
											</div>
										</div>
										
										<label class="text-muted mb-2">Host #3</label>
										<div class="row align-items-center">
											<div class="col-auto">
												<label class="form-check form-switch form-switch-lg">
													<input class="form-check-input" type="checkbox" id="submit" name="registration" hx-trigger="click" hx-post="/settings/registration" hx-swap="none" disabled>
													<span class="form-check-label form-check-label-on text-success">
														Enabled
													</span>
													<span class="form-check-label form-check-label-off text-danger">
														Disabled
													</span>
												</label>
											</div>
											<div class="col-2">
												<input type="text" class="form-control" name="secret" placeholder="Tag">
											</div>
											<div class="col-6">
												<input type="text" class="form-control" name="secret" placeholder="Host IP">
											</div>
										</div>

										<label class="text-muted mb-2">Host #4</label>
										<div class="row align-items-center">
											<div class="col-auto">
												<label class="form-check form-switch form-switch-lg">
													<input class="form-check-input" type="checkbox" id="submit" name="registration" hx-trigger="click" hx-post="/settings/registration" hx-swap="none" disabled>
													<span class="form-check-label form-check-label-on text-success">
														Enabled
													</span>
													<span class="form-check-label form-check-label-off text-danger">
														Disabled
													</span>
												</label>
											</div>
											<div class="col-2">
												<input type="text" class="form-control" name="secret" placeholder="Tag">
											</div>
											<div class="col-6">
												<input type="text" class="form-control" name="secret" placeholder="Host IP">
											</div>
										</div>

									</div>
									<div class="card-footer bg-transparent mt-auto">
										<div class="btn-list justify-content-end">
											<a href="#" class="btn">
												Cancel
											</a>
											<a href="#" class="btn btn-primary">
												Submit
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('partials/footer.html') %>
			</div>
		</div>
		<!-- Libs JS -->
		<!-- Tabler Core -->
		<script src="/js/tabler.min.js" defer></script>
		<script src="/js/demo.min.js" defer></script>
	</body>
</html>