	<!doctype html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>DweebUI - Settings</title>
		<!-- CSS files -->
		<link href="/css/tabler.min.css" rel="stylesheet"/>
		<script src="/js/htmx.min.js"></script>

		<style>
			@import url('/fonts/inter.css');
			:root {
			  --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
			}
			body {
			  font-feature-settings: "cv03", "cv04", "cv11";
			}
		  </style>
	</head>
	<body >
		<div class="page">
			<!-- Navbar -->
			<%- include('partials/navbar.html') %>
			<div class="page-wrapper">
				<!-- Page header -->
				<div class="page-header d-print-none">
					<div class="container-xl">
						<div class="row g-2 align-items-center">
						<div class="col">
							<h2 class="page-title">
							Settings
							</h2>
						</div>
						</div>
					</div>
				</div>
				<!-- Page body -->
				<div class="page-body">
					<div class="container-xl">
						<div class="card">
							<div class="row g-0">
								
								<%- include('partials/sidebar.html') %>

								<%- settings %>
								
								
							</div>

						</div>
					</div>
				</div>
				<%- include('partials/footer.html') %>
			</div>
		</div>
		<!-- Tabler Core -->
		<script src="/js/tabler.min.js" defer></script>
		<script src="/js/demo.min.js" defer></script>
	</body>
</html>